<%- include("partial/header") -%>
<div class="card">
    <h2 class="">Error...</h2>
    <p> please refresh, or try again later</p>
    <div class="titleImg">Image</div>
</div>
<%- include("partial/footer") -%>