    <footer>
        <div class="footer">
            <ul class="social-icon">
                <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com">
                    <img src="/images/facebook.png" alt="Facebook Icon" class="social-icon-img-size">
                  </a></li>
                <li class="social-icon__item"><a class="social-icon__link" href="https://twitter.com/">
                    <img src="/images/twitter.png" alt="Facebook Icon" class="social-icon-img-size">
                  </a></li>
                <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/">
                    <img src="/images/linkedin.png" alt="Facebook Icon" class="social-icon-img-size">
                  </a></li>
                <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/">
                    <img src="/images/instagram.png" alt="Facebook Icon" class="social-icon-img-size">
                  </a></li>
              </ul>
              <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="">About</a></li>
                <li class="menu__item"><a class="menu__link" href="">Services</a></li>
                <li class="menu__item"><a class="menu__link" href="">Team</a></li>
                <li class="menu__item"><a class="menu__link" href="">Contact</a></li>
          
            </ul>
            <p>&copy;2023 Daily Web | All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>