<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <a href="https://www.flaticon.com/free-animated-icons/loading" title="loading animated icons" style="display: none;">Loading animated icons
    created by Freepik - Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons" style="display: none;">Facebook icons created by Freepik -
    Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons" style="display: none;">Instagram icons created by Freepik -
    Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons" style="display: none;">Linkedin icons created by riajulislam -
    Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons" style="display: none;">Twitter icons created by Pixel perfect -
    Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/location-pin" title="location pin icons" style="display: none;">Location pin icons created by
    Pixel perfect - Flaticon</a>

  <title>Daily Web</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>

  <div class="header-background"></div>
  <div class="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/game">Game</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/test">Test</a></li>
      <li>
        <p>
          <%= currentTime %>
        </p>
      </li>
    </ul>
  </div>