<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Web</title>
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>

  <div class="header-background"></div>
  <div class="navbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
      <li><p><%= currentTime %></p></li>
    </ul>
  </div>